
/* index.css */
:root {
  /* TEMA CLARO */
  --bg-main: #f8f9fa;
  --bg-config: #ffffff;
  --text-main: #1a1a1a;
  --border-color: #e0e0e0;
  --glass-bg: rgba(255, 255, 255, 0.7); /* Vidrio claro */
  --glass-border: rgba(255, 255, 255, 0.3);
}

[data-theme='dark'] {
  /* TEMA OSCURO */
  --bg-main: #0f172a;     /* Azul noche */
  --bg-config: #1e293b;   /* Gris pizarra */
  --text-main: #f1f5f9;
  --border-color: #334155;
  --glass-bg: rgba(255, 255, 255, 0.05); /* Vidrio oscuro sutil */
  --glass-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}